.navbar-fixed {
    height: auto;
    top: 0;
    position: fixed;
}
nav {
    background-color:rgba(255,255,255,.8);
    height: auto;
    line-height: inherit;
}
.brand-logo img {
    margin-top:10px
}
.nav-wrapper ul li a {
    color:#6197c2;
}
nav ul a:hover {
    background-color:transparent;
}
nav.nav-center ul {
    text-align: center;
    margin: 30px 0;
}
nav.nav-center ul li {
    display: inline-block;
    float: none;
    margin: 0px 15px;
    vertical-align: middle;
}
nav.nav-center ul li a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}
nav.nav-center ul li a.logo img {
    vertical-align: middle;
}
.breadcrumb:before {
    color: #6197c2;
}

.sidenav {
    background-color: rgba(255,255,255,.95);
}

.sidenav-trigger {
    color:#6197c2;
}

.subnav {
    position: fixed;
    z-index: 998;
    top: 0;
}

.subnav ul {
    background-color: rgba(255,255,255,.8);
    margin: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.subnav li {
    text-align: center;
    padding: 10px;
}

.subnav li a {
    color: #6197c2;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}

.slide-caption {
    top: 150px;
    position: absolute;
    width: 100%;
    text-align: right;
    color: rgba(255,255,255,.75);
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    padding-right: 25px;
}

.quickSearch {
    background-color: rgba(60, 60, 90, 0.85);
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

.quickSearch .card-title, .quickSearch input, .quickSearch label {
    color: white;
    text-transform: uppercase;
}

.ctas .card .card-image .card-title {
   width: 100%;
   text-align: center;
   text-transform: uppercase;   
   font-weight: bold;
   margin-bottom: 0;
}

.ctas .card .card-image .card-title .t1{
    font-size: 12px;
    letter-spacing: 3px;
}

.ctas .card .card-image .card-title .t2{
    font-size: 18px;
    letter-spacing: 1px;
}

.ctas .card .card-image .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ctas .card .card-image a:hover .card-overlay {
    background-color: rgba(60, 60, 180, .5);
}

h2 {
    text-transform: uppercase;
    font-size: 34px;
    color: #003e75;
    letter-spacing: 5px;
    text-align: center;
}

hr {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.welcome {
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.footer-bottom {
    background: #041729;
    color: white;
    padding: 30px 0;
}

.carousel.featured {
    height: 600px;
    top: -50px;
}

.carousel.featured .carousel-item {
    width:400px;
    height:400px;
}

.carousel.featured .carousel-item a {
    background-color: rgba(0,0,0,.5);
    width: 100%;
}

.carousel.featured .carousel-item a:hover {
    background-color: rgba(0,0,0,.75);
}

.dropdown-content li > a, .dropdown-content li > span {
    color:#6197c2;
}