.hidden {
  display: none;
}

h4 {
  font-size: 1.5rem !important;
}

.navbar-fixed {
    height: auto;
    top: 0;
    position: fixed;
}

nav {
  background-color: white;
  height: auto;
  line-height: inherit;
}

nav#home-nav {
    background-color:rgba(255,255,255,.8);
}

.brand-logo img {
    margin-top:10px
}
.nav-wrapper ul li a {
    color:#6197c2;
}
nav ul a:hover {
    background-color:transparent;
}
nav.nav-center ul {
    text-align: center;
    margin: 5px 0;
}
nav#home-nav.nav-center ul {
  text-align: center;
  margin: 30px 0;
}
nav.nav-center ul li {
    display: inline-block;
    float: none;
    margin: 0px 15px;
    vertical-align: middle;
}
nav.nav-center ul li a {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}
nav.nav-center ul li a.logo img {
    vertical-align: middle;
}
.breadcrumb:before {
    color: #6197c2;
}

.sidenav {
    background-color: rgba(255,255,255,.95);
}

.sidenav-trigger {
    color:#6197c2;
}

.subnav {
    position: fixed;
    z-index: 998;
    top: 0;
}

.subnav ul {
    background-color: white;
    margin: 0;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

nav#home-nav .subnav ul {
  background-color: rgba(255,255,255,.8);
}

.subnav li {
    text-align: center;
    padding: 10px;
}

.subnav li a {
    color: #6197c2;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
}

.slide-caption {
    top: 150px;
    position: absolute;
    width: 100%;
    text-align: right;
    color: rgba(255,255,255,.75);
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
    padding-right: 25px;
}

.quickSearch {
    background-color: rgba(60, 60, 90, 0.85);
    width: 100%;
    bottom: 0;
    position: absolute;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

.quickSearch .card-title, .quickSearch input, .quickSearch label {
    color: white;
    text-transform: uppercase;
}

.ctas .card .card-image .card-title {
   width: 100%;
   text-align: center;
   text-transform: uppercase;   
   font-weight: bold;
   margin-bottom: 0;
}

.ctas .card .card-image .card-title .t1{
    font-size: 12px;
    letter-spacing: 3px;
}

.ctas .card .card-image .card-title .t2{
    font-size: 18px;
    letter-spacing: 1px;
}

.ctas .card .card-image .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ctas .card .card-image a:hover .card-overlay {
    background-color: rgba(60, 60, 180, .5);
}

h2 {
    text-transform: uppercase;
    font-size: 34px;
    color: #003e75;
    letter-spacing: 5px;
    text-align: center;
}

hr {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.welcome {
    background-size: cover;
    background-position: center;
    padding: 30px;
}

.footer-bottom {
    background: #041729;
    color: white;
    padding: 30px 0;
}

.carousel.featured {
    height: 600px;
    top: -50px;
}

.carousel.featured .carousel-item {
    width:400px;
    height:400px;
}

.carousel.featured .carousel-item a {
    background-color: rgba(0,0,0,.5);
    width: 100%;
}

.carousel.featured .carousel-item a:hover {
    background-color: rgba(0,0,0,.75);
}

.carousel.featured .card-title {
  background-color: rgba(0,0,0,.5);
  width: 100%;
}

.dropdown-content li > a, .dropdown-content li > span {
    color:#6197c2;
}

.spacer-25 {
  width: 100%;
  height: 25px;
}

.spacer-50 {
    width: 100%;
    height: 50px;
}

.spacer-75 {
    width: 100%;
    height: 75px;
}

.spacer-100 {
    width: 100%;
    height: 100px;
}

.hero{
    height:500px;
    width:100%;
    background-position: center;
    background-size: cover;
}

.agents-img-wrapper {
  padding: 50px !important;
  text-align: center;
}

.agents-img{
  height: 275px;
  background-size: cover;
  background-position: center;
}

.property-menu-wrapper {
  background-color: white;
  width: 100%;
  z-index: 500;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.property-menu-wrapper .row {
  margin-bottom: 0;
}

.property-menu-wrapper .property-menu-item {
  text-align: center;
}

.property-menu-wrapper .property-menu-item a {
  color: #6197c2;
}

.property-menu-wrapper .property-menu-item a>div {
  padding: 10px 0;
}

.property-menu-wrapper .property-menu-item a.active>div {
  border-bottom: 2px solid #6197c2;
}

.indigo {
  background-color: #6197c2 !important;
}

.property-detail h2 {
  text-align: left;
}

.feature-item {
  font-size: 1.35rem;
  margin-bottom: 20px !important;
}

.clearfix {
  clear: both !important;
}

/*
#gallery-modal {
  width: 100% !important;
  height: 80% !important;
  max-height: 100% !important;
  background-color: transparent;
  box-shadow: none;
}

#gallery-modal .modal-content {
  /*background-color: transparent;*//*
  height: 100%;
  padding: 0;
}


.gallery-carousel {
  height: 100%;
}


.gallery-carousel .carousel-item {
  width: unset;
  height: unset;
  max-width: 80%;
  max-height: 100%;
}

.gallery-carousel .carousel-item img {
  max-height: 100%;
  max-width: 100%;
}
*/

.gallery-thumbs-item {
  background-size: cover;
  background-position: center;
  float: left;
}

.gallery-thumbs-item.vertical {
  width: 33%;
  height: 500px;
}

.gallery-thumbs-item.horizontal {
  width: 66%;
  height: 250px;
}

.gallery-thumbs-item.square {
  width: 33%;
  height: 250px;
}

.gallery-thumbs-more {
  height: 100%;
  width: 100%;
}

.gallery-thumbs-more p {
  width: 100%;
  text-shadow: 5px 5px 5px rgba(0,0,0, .5);
  color: #fafafa !important;
  font-size: 3rem;
}

/*lighbox*/
/* The Modal (background) */
.custom-modal {
  display: none;
  position: fixed;
  z-index: 990;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,.75);
}

/* Modal Content */
.custom-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 64px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}