{layout='layouts/_content-layout'}

<?php
    //error_reporting( E_ALL ); //debug
    //require_once($_SERVER['DOCUMENT_ROOT'] . "/flexmls/Core.php");
    require_once($_SERVER['DOCUMENT_ROOT'] . "/flexmls/flexmlsAPI.php");
    require_once($_SERVER['DOCUMENT_ROOT'] . "/lang/lang.php");
    require_once($_SERVER['DOCUMENT_ROOT'] . "/util/util.php");
    $language = isset($_GET['lang']) ? trim($_GET['lang']) : 'en';
    $protocol = strtolower(substr($_SERVER["SERVER_PROTOCOL"],0,5))=='https://'?'https://':'http://';
    $hostName = $_SERVER['HTTP_HOST'];
    $base_url = $protocol.$hostName;
    $search_results = "";
    //var_dump($_SERVER);
    if (isset($_SERVER['HTTP_REFERER']) && strpos($_SERVER['HTTP_REFERER'], $base_url.'/listing') > -1 ) { $search_results =  $_SERVER['HTTP_REFERER']; }
    //$api = new SparkAPI_APIAuth("cab_westerlund_key_1", "5lCZrVg8d4uYSviaNIN4t"); //Core.php
    $api = new flexmlsAPI("cab_westerlund_key_1", "5lCZrVg8d4uYSviaNIN4t"); //flexmlsAPI.php
    $api->SetApplicationName("Diamante-MLS-Search/1.0");
    $api->SetDeveloperMode(false);
    $auth = $api->Authenticate();
    if ($auth === false) api_error_thrown($api);

    $id = "{segment_3}";
    //echo $id;
    $parameters = array("_expand" => 'CustomFields,Photos');
    $listing = $api->GetListings(array("_filter" => "ListingId Eq '" . $id . "'" , "_expand" => 'CustomFields,Photos', "_limit" => "1", "_pagination" => true));
    //$listing = $api->GetListing($id,$parameters);

    //var_dump($listing);
    if ($listing != null){
        $standard = $listing[0]['StandardFields'];
        $custom = $listing[0]['CustomFields'][0];

        $main_photo = '';
        $main_photo_name = '';
        $photos = $standard['Photos'];

        foreach ($photos as $item) {
            if ($item['Primary'] == 1) {
                $main_photo = $item['Uri1600'];
                $main_photo_name = $item['Name'];
            }
        }

        $general_desc = null;

        $main = null;
        $details = null;

        $stai = $standard["StreetAdditionalInfo"];
        $stnu = $standard["StreetNumber"];
        $stna = $standard["StreetName"];
        //echo $stai . $stnu . $stna;
        $street = $stai != '********' ? $stai . ' ' : '';
        $street .= $stnu != '********' ? $stnu . ' ' : '';
        $street .= $stna != '********' ? $stna . ' ' : '';
        $street = fix($street);

        $exchange_rate = 1;

        if($language == 'es') {
            $xml = simplexml_load_file("http://www.ecb.int/stats/eurofxref/eurofxref-daily.xml")->Cube[0]->Cube[0];
            $usd = 0;
            $mxn = 0;
            foreach ($xml->Cube as $item) {
                if((string)$item['currency'] === 'USD')
                    $usd = (real)$item['rate'];
                    
                if((string)$item['currency'] === 'MXN')
                    $mxn = (real)$item['rate'];
            }
    
            $exchange_rate = $mxn/$usd;
        }

        if($language == 'es'){
            $price = "$" . number_format($standard["ListPrice"] * $exchange_rate,2) . " MXN";
        }
        else{
            $price = "$" . number_format($standard["ListPrice"],2) . " USD";
        }

        $description = '';

        if($language == 'es'){
            error_reporting(0);
            $json = file_get_contents('https://www.googleapis.com/language/translate/v2?key=AIzaSyA2XBI0Wlol8wIHwZ28nGvtpk01VBgdDAQ&q=' . urlencode($standard['PublicRemarks']) . '&source=en&target=es');
            $json = json_decode($json, true);
            $translations = $json['data']['translations'];
            
            foreach($translations as $translation) {
                $description .= "{$translation['translatedText']}";
            }
            
            if(trim($description) == '')
                $description = fix($standard['PublicRemarks']);

            echo '<em style="font-size:10px;">&bull; Los precios en pesos son calculados en base al tipo de cambio al momento de la consulta; el precio puede variar.<br />&bull; La información mostrada se tradujo de forma automatizada por lo tanto puede ser imprecisa.</em><br /><br />';
        }
        else{
            $description = fix($standard['PublicRemarks']);
        }
        //$description = htmlentities($description);

        if($custom) {
          if ($custom['Main']) {
            $main = parse_data($custom['Main']);
          }
          if (array_key_exists('Details', $custom)) {
            $details = parse_details($custom['Details']);	
            $tmp_arr = explode('|', $details);
            foreach($tmp_arr as $item) {
              $item .= '</p>';
            }
            $details = implode('<p class="left third">', $tmp_arr);
          }
        }

        $map_lat = (str_replace("*", "", number_format($standard['Latitude'],6,'.','')) == "") ? 24.161754 : $standard['Latitude'];
        $map_lon = (str_replace("*", "", number_format($standard['Longitude'],6,'.','')) == "") ? -110.318013 : $standard['Longitude'];

    } //if listing != null
?>

{layout:set name="styles"}
    <style>
        .hero{
            background-image: url('<?=$main_photo?>');
        }

        #map_container {
            width:100%;
            height:700px;
        }
    </style>
{/layout:set}


<?php if($listing == null) { ?>
    <?php
      $images = array_slice(scandir($_SERVER['DOCUMENT_ROOT']."/images/layout/slider/min/"),2);
      shuffle($images);
    ?>
    <div class="hero" style="background-image: url('/images/layout/slider/min/<?=$images[0]?>')"></div>
    <main>
        <div class="container">
            <div class="spacer-100"></div>
            <h2 class="center">Sorry, property not found</h2>

            <p class="center">
                <?php if ($search_results != "") {?>
                    <a href="<?=$search_results?>" class="waves-effect waves-light btn"><i class="material-icons left">chevron_left</i> Back to search results  </a>
                <?php } else { ?>
                    <a href="/properties" class="waves-effect waves-light btn"><i class="material-icons left">chevron_left</i> Back to listing </a>
                <?php } ?>
            </p>
            <div class="spacer-100"></div>
        </div>
    </main>

<?php } else { ?> 

    <div class="hero">

    </div>
    <main id="main" class="property-detail">

    <div class="property-menu-wrapper pushpin" data-target="main">
      <div class="container">
        <div class="row">
          <div class="col s2">
            <div class="property-menu-item">
              <?php if ($search_results != "") {?>
                  <a href="<?=$search_results?>">
                    <div>
                      <i class="material-icons">chevron_left</i>
                      <span class="hide-on-small-only"><br>Back to search results</span>
                    </div>
                  </a>
              <?php } else { ?>
                  <a href="/properties">
                    <div>
                      <i class="material-icons">chevron_left</i>
                      <span class="hide-on-small-only"><br>Back to listing</span>
                    </div>  
                  </a>
              <?php } ?>
            </div><!--poperty-menu-item-->
          </div><!--col-->
          <div class="col s2">
            <div class="property-menu-item">
              <a class="active" href="#description">
                <div>
                  <i class="material-icons">home</i>
                  <span class="hide-on-small-only"><br>Description</span>
                </div>
              </a>
            </div><!--poperty-menu-item-->
          </div><!--col-->
          <div class="col s2">
            <div class="property-menu-item">
              <a href="#gallery">
                <div>
                  <i class="material-icons">image</i>
                  <span class="hide-on-small-only"><br>Gallery</span>
                </div>
              </a>
            </div><!--poperty-menu-item-->
          </div><!--col-->
          <div class="col s2">
            <div class="property-menu-item">
              <a href="#features">
                <div>
                  <i class="material-icons">hotel</i>
                  <span class="hide-on-small-only"><br>Features</span>
                </div>
              </a>
            </div><!--poperty-menu-item-->
          </div><!--col-->
          <div class="col s2">
            <div class="property-menu-item">
              <a href="#map">
                <div>
                  <i class="material-icons">location_on</i>
                  <span class="hide-on-small-only"><br>Map</span>
                </div>
              </a>
            </div><!--poperty-menu-item-->
          </div><!--col-->
          <div class="col s2">
            <div class="property-menu-item">
              <a href="#contact">
                <div>
                  <i class="material-icons">mail</i>
                  <span class="hide-on-small-only"><br>Contact</span>
                </div>
              </a>
            </div><!--poperty-menu-item-->
          </div><!--col-->
        </div><!--row-->
      </div><!--container-->
    </div> <!--property-menu-wrapper-->

        <div class="container">
            <div class="row">
                <div class="col s12 m12">
                  <div class="card">
                    <div id="description" class="section scrollspy card-content">
                        <h2><?= $id ?> / <?= $street ?></h2>

                        <h5><?= $price ?></h5>

                        <p class="flow-text"><?= $description ?> </p>
                        <div class="spacer-50"></div>
                    </div>
                  </div>
                  
                  <div class="card">
                    <div id="gallery" class="section scrollspy card-content">
                        <h2>Gallery</h2>

                        <div class="gallery-thumbs">

                          <a class="gallery-thumbs-item vertical modal-trigger hoverable" style="background-image: url('<?=$standard['Photos'][0]['Uri640']?>')" href="#gallery-modal" data-slide="0"></a>

                          <a class="gallery-thumbs-item horizontal modal-trigger hoverable" style="background-image: url('<?=$standard['Photos'][1]['Uri640']?>')" href="#gallery-modal" data-slide="1"></a>

                          <a class="gallery-thumbs-item square modal-trigger hoverable" style="background-image: url('<?=$standard['Photos'][2]['Uri640']?>')" href="#gallery-modal" data-slide="2"></a>

                          <a class="gallery-thumbs-item square modal-trigger hoverable" style="background-image: url('<?=$standard['Photos'][3]['Uri640']?>')" href="#gallery-modal" data-slide="3">
                            <div class="gallery-thumbs-more valign-wrapper">
                              <p class="center-align">+<?=sizeof($standard['Photos'])-4?></p>
                            </div>
                          </a>

                        </div>

                        <!-- Modal Trigger -->
                        <!--a class="waves-effect waves-light btn modal-trigger" href="#gallery-modal">Modal</a-->

                        <!-- Modal Structure -->
                        <div id="gallery-modal" class="modal">
                          <div class="modal-content">
                          <div class="carousel gallery-carousel">
                            <?php
                            foreach ($standard['Photos'] as $photo) {  
                            ?>
                              <a class="carousel-item" href="#<?=$photo['Id']?>!"><img src="<?=$photo['Uri1280']?>"></a>
                            <?php
                            } 
                            ?>
                          </div>
                          </div>
                        </div>
                      <div class="clearfix"></div>
                      <div class="spacer-50"></div>
                    </div>
                  </div>
                  
                  <div class="card">
                    <div id="features" class="section scrollspy card-content">
                      <h2>Features</h2>
                      
                      <div class="row">
                        <div class="col s6 m3">
                          <p class='feature-item'>
                            <b>Total bedrooms</b><br><?= $standard["BedsTotal"] != '********' ? $standard["BedsTotal"] : 'N/A' ?>
                          </p>
                        </div>
                        <div class="col s6 m3">
                          <p class='feature-item'>
                            <b>Bathrooms</b><br><?= $standard["BathsFull"] != '********' ? $standard["BedsTotal"] : 'N/A' ?>
                          </p>
                        </div>
                        <div class="col s6 m3">
                          <p class='feature-item'>
                            <b>Half Baths</b><br><?= $standard["BathsHalf"] != '********' ? $standard["BedsTotal"] : 'N/A' ?>
                          </p>
                        </div>
                        <?php if($main != null) { ?>	
                        <?php echo $main;} ?>
                        <?php if($details != null) { ?>
                      
                        <?php echo $details;} ?>
                        <div class="clearfix"></div>
                      </div>
                      <div class="spacer-50"></div>
                    </div>
                  </div>
                  
                  <div class="card">
                    <div id="map" class="section scrollspy card-content">
                        <h2>Map</h2>
                        <div id="map_container"></div>
                        <div class="spacer-50"></div>
                    </div>
                  </div>

                  <div class="card">
                    <div id="contact" class="section scrollspy card-content">
                          <h2>Contact</h2>
                          {exp:formgrab:form name="property_inquiry_form" title="Property Inquiry Form"}      
                          <input id="mls_number" type="text" value="<?= $standard['ListingId'] ?>" class="hidden" /> 

                          <?php if($standard['ListOfficeId'] == '20100827185301358056000000') { ?>
                            <input id="agent_name" type="text" value="<?php echo $standard['ListAgentFirstName'] . ' ' . $standard['ListAgentMiddleName'] . ' ' . $standard['ListAgentLastName']; ?>" class="hidden" />
                            <input id="agent_email" type="text" value="<?php echo $standard['ListAgentEmail']; ?>" class="hidden" />
                          <?php } else { ?>
                            <input id="agent_name" type="text" value="" class="hidden" />
                            <input id="agent_email" type="text" value="" class="hidden" />
                          <?php } ?>

                          <div class="row">
                            <div class="col s12 m6">
                              <p>
                                <label for="from">Name:</label><br />
                                <input type="text" id="from" name="from" size="40" maxlength="35" value="" />
                              </p>
                            </div>
                            <div class="col s12 m6">
                              <p>
                                <label for="phone">Phone:</label><br />
                                <input type="text" id="phone" name="phone" size="40" maxlength="35" value="" />
                              </p>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col s12 m6">
                              <p>
                                <label for="emial">Email:</label><br />
                                <input type="text" id="email" name="email" size="40" maxlength="35" value="" />
                              </p>
                            </div>
                            <div class="col s12 m6">
                              <p>
                                <label for="subject">Subject:</label><br />
                                <input type="text" id="subject" name="subject" size="40" value="Listing Inquiry: <?= $standard['ListingId'] ?>" />
                              </p>
                            </div>
                          </div>

                          <p>
                            <label for="message">Message:</label><br />
                            <textarea id="message" name="message" rows="20" style="height:300px"> </textarea>
                          </p>
                          <p>
                            <input name="submit" class="btn btn-block indigo" type='submit' value='Send Inquiry' />
                          </p>
                          {/exp:formgrab:form}
                          <div class="spacer-50"></div>
                    </div>
                  </div>

                    
                </div>
            </div>
        </div>

    </main>

<?php } ?>


{layout:set name="scripts"}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnEhkVDYEAhWmyleuk7rvrVD6XcJ72q5A&callback=loadMap" async defer></script>
    <script>
        function loadMap(){
            var latlng = new google.maps.LatLng(<?php echo $map_lat . ',' . $map_lon; ?>);
            var opt = {
                zoom: 15,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
            var map = new google.maps.Map(document.getElementById("map_container"), opt);

            var info = '<p class="map_info"><div class="thumb"><img src="<?php echo $photos[0]['UriThumb']; ?>" /></div>'+
                '<b> <?php echo $price; ?></b><br />'+
                "<?php echo $street; ?><br /><?php echo $standard['City']; ?><br />"+
                '<i class=""><?php echo $standard['ListingId']; ?></i></p>';

            var infowindow = new google.maps.InfoWindow({
                content: info
            });

            var marker = new google.maps.Marker({
                position: latlng,
                animation: google.maps.Animation.DROP,
                map: map,
                title:"<?php echo $street; ?>"
            });
            
            infowindow.open(map,marker);
            
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });
        }

        $( document ).ready(function(){
            //$('.slider').slider();
            $('.carousel.carousel-slider').carousel({
                fullWidth: true,
                indicators: true
            });
            $('.scrollspy').scrollSpy();
             $('.pushpin').each(function() {
              var $this = $(this);
              var $target = $('#' + $(this).attr('data-target'));
              $this.pushpin({
                top: $target.offset().top - $(".nav-center").height(),
                bottom: $target.offset().top + $target.outerHeight() - $this.height()
              });
            });
            $( document ).on("scroll", function(){
              if ($(".property-menu-wrapper").hasClass("pinned"))
                $(".property-menu-wrapper").css("top",$(".nav-center").height());
            });
            $('.modal').modal({
              opacity: .75,
              ready: function(modal, trigger) {
                $('.carousel').carousel({
                  numVisible: 5,
                  indicators: true
                });
                $('.carousel').carousel('set', trigger.data('slide'));
              }
            });
            /*$('#fullscreen-btn').click(function(){
                var elem = document.querySelector('.slider');
                var instance = M.Slider.getInstance(elem);
                instance.destroy(); 
                //$('.slider').slider('destroy');
                $('.slider').addClass('fullscreen');
                $('.slider').slider();
            });*/
        });
        
    </script>
{/layout:set}