{layout='layouts/_content-layout'}

{layout:set name="styles"}
    <style>
        .search-card .card-content {
            padding-bottom:0;
        }
        .search-car .card-content row {
            margin-bottom:0;
        }
    </style>
{/layout:set}

<?php
    error_reporting( E_ALL ); //debug
    require_once($_SERVER['DOCUMENT_ROOT'] . "/flexmls/flexmlsAPI.php");
    require_once($_SERVER['DOCUMENT_ROOT'] . "/lang/lang.php");
    $protocol = strtolower(substr($_SERVER["SERVER_PROTOCOL"],0,5))=='https://'?'https://':'http://';
    $hostName = $_SERVER['HTTP_HOST'];
    $base_url = $protocol.$hostName;
    $api = new flexmlsAPI("cab_westerlund_key_1", "5lCZrVg8d4uYSviaNIN4t");
    $api->SetApplicationName("Diamante-MLS-Search/1.0");
    $api->SetDeveloperMode(false);
    $auth = $api->Authenticate();
    if ($auth === false) api_error_thrown($api);

    $portal = isset($_GET['portal']) ? trim($_GET['portal']) : 0;
    $mls_number = isset($_GET['mls_number']) ? trim($_GET['mls_number']) : '';
    //$city = isset($_GET['city']) ? trim($_GET['city']) : '';
    $city = "{segment_2}" != "" ? "{segment_2}" : "all";
    //$property_type = isset($_GET['property_type']) ? trim($_GET['property_type']) : '';
    $property_type  = "{segment_3}" != "" ? "{segment_3}" : "all";
    //$list_price = isset($_GET['list_price']) ? trim($_GET['list_price']) : '';
    $list_price = "{segment_4}" != "" ? "{segment_4}" : "all";
    $development = isset($_GET['development']) ? trim($_GET['development']) : '';
    $language = isset($_GET['lang']) ? trim($_GET['lang']) : 'en';
    //$page = isset($_GET['page']) ? trim($_GET['page']) : 1;
    $page = is_numeric("{segment_5}") ? "{segment_5}"  : 1;
    $featured = isset($_GET['featured']) ? $_GET['featured'] : 0;

    $exchange_rate = 1;
    $parameters = null;
    $listings = null;
    
    if($language == 'es') {
        $xml = simplexml_load_file("http://www.ecb.int/stats/eurofxref/eurofxref-daily.xml")->Cube[0]->Cube[0];
        $usd = 0;
        $mxn = 0;
        foreach ($xml->Cube as $item) {
            if((string)$item['currency'] === 'USD')
                $usd = (real)$item['rate'];
                
            if((string)$item['currency'] === 'MXN')
                $mxn = (real)$item['rate'];
        }

        $exchange_rate = $mxn/$usd;
    }

    switch ($city) {
        case "la-paz" : $cityQuery = "City Eq 'La Paz'"; break;
        case "la-ventana" : $cityQuery = "SubdivisionName Eq 'La Ventana' Or SubdivisionName Eq 'El Sargento'"; break;
        case "cabo-san-lucas" : $cityQuery = "City Eq 'Cabo San Lucas'"; break;
        case "cabo-corridor" : $cityQuery = "City Eq 'Cabo Corridor'"; break;
        case "san-jose-del-cabo" : $cityQuery = "City Eq 'San Jose del Cabo'"; break;
        case "san-jose-corridor" : $cityQuery = "City Eq 'San Jose Corridor'"; break;
        case "east-cape" : $cityQuery = "City Eq 'East Cape' Or City Eq 'Los Barriles'"; break;
        case "pacific-side" : $cityQuery = "City Eq 'Pacific Or City Eq 'Pacific Side' Or City Eq 'Todos Santos'"; break;
        default : $cityQuery = "";
    }

    switch ($property_type) {
        case "condos" : $propertyQuery = "A"; break;
        case "houses" : $propertyQuery = "B"; break;
        case "townhouses" : $propertyQuery = "C"; break;
        case "land" : $propertyQuery = "E"; break;
        case "commercial" : $propertyQuery = "F"; break;
        case "business" : $propertyQuery = "G"; break;
        case "multifamily" : $propertyQuery = "I"; break;
        default : $propertyQuery = "";
    }

    switch ($list_price) {
        case "0" : $listQuery = "Le 200000.0"; break;
        case "200K" : $listQuery = "Ge 200000.0 And ListPrice Le 500000.0"; break;
        case "500K" : $listQuery = "Ge 500000.0 And ListPrice Le 1000000.0"; break;
        case "1M" : $listQuery = "Ge 1000000.0"; break;
        default : $listQuery = "";
    }


    if($mls_number != '') {
        $parameters = array("_filter" => "ListingId Eq '$mls_number'", "_expand" => 'PrimaryPhoto', "_limit" => "1", "_pagination" => true);
        $listings = $api->GetListings($parameters);
    }
    else {
        $filter = '';
        $p_type = ($propertyQuery != "") ? "PropertyType Eq '$propertyQuery'": "Not PropertyType Eq 'H'";
        $filter .= ($filter != '') ? " And $p_type" : "$p_type" ;
        $filter .= ($cityQuery != '') ? (($filter != '') ? " And $cityQuery" : "$cityQuery" ) : '';
        $filter .= ($listQuery != '') ? (($filter != '') ? " And ListPrice $listQuery" : "ListPrice $listQuery" ) : '';
        if ($development == 'Terrazas' || $development == 'Torres Cantera' || $development == 'Vista Coral' || $development == 'Paseo del Malecon' || $development == 'Puerto Ilusion' || $development == 'Querencia' || $development == 'Palmilla') {
            $filter .= ($filter != '') ? " And StreetAdditionalInfo Eq '$development*'" : "StreetAdditionalInfo Eq '$development*'";
        }
        else {
            $filter .= ($development != '') ? (($filter != '') ? " And SubdivisionName Eq '$development'" : "SubdivisionName Eq '$development'" ) : '';
        }
        $filter = stripslashes($filter);

        //echo $filter;

        if($featured == 1) {
            $parameters = array("_filter" => $filter, "_expand" => 'PrimaryPhoto', "_limit" => 24, "_pagination" => true, "_page" => $page, "_orderby" => 'ListPrice');
            $listings = $api->GetMyListings($parameters);
        }
        else {
            $parameters = array("_filter" => $filter, "_expand" => 'PrimaryPhoto', "_limit" => 24, "_pagination" => true, "_page" => $page, "_orderby" => 'ListPrice');
            $listings = $api->GetListings($parameters);
        }
    }
    $listings[count($listings)] = array("LastCount" => $api->last_count, "PageSize" => $api->page_size, "TotalPages" => $api->total_pages, "CurrentPage" => $api->current_page);
    //var_dump($listings[count($listings)-1]);
    //echo json_encode($listings);
?>

<main>
    <div class="container">
        <h2>MLS Search</h2>
        <div class="card search-card">
            <div class="card-content">
                <div class="card-title">
                    
                </div>
                <div class="row">
                    <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12 m6 l3">
                            <input id="mls_number" type="text" class="validate">
                            <label for="mls_number">MLS Number</label>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <select id="city">
                                <option value="all"><?php echo $lang[$language]['any']; ?></option>
                                <?php if($portal == 1) { ?>
                                    <option value="la-ventana" <?php echo $city == "la-ventana" ? "selected" : ""?>>La Ventana</option>
                                <option value="la-paz" <?php echo $city == "la-paz" ? "selected" : ""?>>La Paz</option>
                                <option value="cabo-san-lucas" <?php echo $city == "cabo-san-lucas" ? "selected" : ""?>>Cabo San Lucas</option>
                                <option value="cabo-corridor" <?php echo $city == "cabo-corridor" ? "selected" : ""?>><?php echo $lang[$language]['cabo_corridor']; ?></option>
                                <option value="san-jose-del-cabo" <?php echo $city == "san-jose-del-cabo" ? "selected" : ""?>>San Jose del Cabo</option>
                                <option value="san-jose-corridor" <?php echo $city == "san-jose-corridor" ? "selected" : ""?>><?php echo $lang[$language]['san_jose_corridor']; ?></option>
                                <option value="east-cape" <?php echo $city == "east-cape" ? "selected" : ""?>><?php echo $lang[$language]['east_cape']; ?></option>
                                <option value="pacific-side" <?php echo $city == "pacific-side" ? "selected" : ""?>><?php echo $lang[$language]['pacific_side']; ?></option>
                                <?php } elseif($portal == 3 || $portal == 4 || $portal == 5) { ?>
                                <option value="cabo-san-lucas" <?php echo $city == "cabo-san-lucas" ? "selected" : ""?>>Cabo San Lucas</option>
                                <option value="cabo-corridor" <?php echo $city == "cabo-corridor" ? "selected" : ""?>><?php echo $lang[$language]['cabo_corridor']; ?></option>
                                <option value="san-jose-del-cabo" <?php echo $city == "san-jose-del-cabo" ? "selected" : ""?>>San Jose del Cabo</option>
                                <option value="san-jose-corridor" <?php echo $city == "san-jose-corridor" ? "selected" : ""?>><?php echo $lang[$language]['san_jose_corridor']; ?></option>
                                <option value="east-cape" <?php echo $city == "east-cape" ? "selected" : ""?>><?php echo $lang[$language]['east_cape']; ?></option>
                                <option value="pacific-side" <?php echo $city == "pacific-side" ? "selected" : ""?>><?php echo $lang[$language]['pacific_side']; ?></option>
                                <option value="la-paz" <?php echo $city == "la-paz" ? "selected" : ""?>>La Paz</option>
                                <option value="la-ventana" <?php echo $city == "la-ventana" ? "selected" : ""?>>La Ventana</option>
                                <?php } else { ?>
                                <option value="la-paz" <?php echo $city == "la-paz" ? "selected" : ""?>>La Paz</option>
                                <option value="la-ventana" <?php echo $city == "la-ventana" ? "selected" : ""?>>La Ventana</option>
                                <option value="cabo-san-lucas" <?php echo $city == "cabo-san-lucas" ? "selected" : ""?>>Cabo San Lucas</option>
                                <option value="cabo-corridor" <?php echo $city == "cabo-corridor" ? "selected" : ""?>><?php echo $lang[$language]['cabo_corridor']; ?></option>
                                <option value="san-jose-del-cabo" <?php echo $city == "san-jose-del-cabo" ? "selected" : ""?>>San Jose del Cabo</option>
                                <option value="san-jose-corridor" <?php echo $city == "san-jose-corridor" ? "selected" : ""?>><?php echo $lang[$language]['san_jose_corridor']; ?></option>
                                <option value="east-cape" <?php echo $city == "east-cape" ? "selected" : ""?>><?php echo $lang[$language]['east_cape']; ?></option>
                                <option value="pacific-side" <?php echo $city == "pacific-side" ? "selected" : ""?>><?php echo $lang[$language]['pacific_side']; ?></option>
                                <?php } ?>
                            </select>
                            <label>City</label>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <select id="property_type">
                                <option value="all"><?php echo $lang[$language]['any']; ?></option>
                                <option value="condos" <?php echo $property_type == "condos" ? "selected" : ""?>><?php echo $lang[$language]['condos']; ?></option>
                                <option value="houses" <?php echo $property_type == "houses" ? "selected" : ""?>><?php echo $lang[$language]['houses']; ?></option>
                                <option value="townhouses" <?php echo $property_type == "townhouses" ? "selected" : ""?>><?php echo $lang[$language]['townhouses']; ?></option>
                                <option value="land" <?php echo $property_type == "land" ? "selected" : ""?>><?php echo $lang[$language]['land']; ?></option>
                                <option value="commercial" <?php echo $property_type == "commercial" ? "selected" : ""?>><?php echo $lang[$language]['commercial']; ?></option>
                                <option value="business" <?php echo $property_type == "business" ? "selected" : ""?>><?php echo $lang[$language]['business']; ?></option>
                                <option value="multifamily" <?php echo $property_type == "multifamily" ? "selected" : ""?>><?php echo $lang[$language]['multifamily']; ?></option>
                            </select>
                            <label>Property type</label>
                        </div>
                        <div class="input-field col s12 m6 l3">
                            <select id="list_price">
                                <option value="all"><?php echo $lang[$language]['any']; ?></option>
                                <option value="0" <?php echo $list_price == "0" ? "selected" : ""?>><?php echo $lang[$language]['under']; ?> 200,000 USD</option>
                                <option value="200K" <?php echo $list_price == "200K" ? "selected" : ""?>>200,000 - 500,000 USD</option>
                                <option value="500K" <?php echo $list_price == "500K" ? "selected" : ""?>>500,000 - 1,000,000 USD</option>
                                <option value="1M" <?php echo $list_price == "1M" ? "selected" : ""?>><?php echo $lang[$language]['over']; ?> 1,000,000 USD</option>
                            </select>
                            <label>Price</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-action right-align">
                <div class="left">Total results: <?php echo $listings[sizeof($listings)-1]["LastCount"] ?></div>
                <a id="searchBtn" class="btn waves-effect waves-light indigo">Search
                    <i class="material-icons right">search</i>
                </a>
            </div>
        </div>

        <div class="spacer-75"></div>

        <ul class="pagination center-align">
            <?php if ($page > 1) { ?>
                <li class="waves-effect"><a href="<?php echo $base_url."/properties"."/".$city."/".$property_type."/".$list_price."/".($page-1) ?>"><i class="material-icons">chevron_left</i></a></li>
            <?php } ?>
                
            <?php 
                $total_pages = $listings[sizeof($listings)-1]["TotalPages"];
                for($x = $page - 3; $x <= $page + 3; $x++) { 
                    if ($x > 0 && $x <= $total_pages) {?>
                        <li class="waves-effect <?php echo $x == $page ? 'active indigo' : '' ?>"><a href="<?php echo $base_url."/properties"."/".$city."/".$property_type."/".$list_price."/".$x ?>"><?php echo $x ?></a></li>
                <?php } }
            ?>

            <?php if ($page < $total_pages) { ?>
                <li class="waves-effect"><a href="<?php echo $base_url."/properties"."/".$city."/".$property_type."/".$list_price."/".($page+1) ?>"><i class="material-icons">chevron_right</i></a></li>
            <?php } ?>   
        </ul>

        <hr>

        <?php 
            //var_dump($listings);
            $count = 0;
            foreach($listings as $listing){ 
                $count++;
                if ($count < sizeof($listings)){
                    //setlocale(LC_MONETARY, 'en_US.utf8');
                    if($language == 'es'){
                        $price = "$" . number_format($listing["StandardFields"]["ListPrice"] * $exchange_rate,2) . " MXN";
                    }
                    else{
                        $price = "$" . number_format($listing["StandardFields"]["ListPrice"],2) . " USD";
                    }

                    if (sizeof($listing["StandardFields"]["Photos"]) > 0) {
                        $thumb = $listing["StandardFields"]["Photos"][0]["Uri800"];
                    } else {
                        $thumb = 'http://www.placehold.it/800x250?text=NO+PHOTO';
                    }

                    $stai = $listing["StandardFields"]["StreetAdditionalInfo"];
					$stnu = $listing["StandardFields"]["StreetNumber"];
                    $stna = $listing["StandardFields"]["StreetName"];
                    //echo $stai . $stnu . $stna;
                    $street = $stai != '********' ? $stai . ' ' : '';
                    $street .= $stnu != '********' ? $stnu . ' ' : '';
                    $street .= $stna != '********' ? $stna . ' ' : '';

                    if (($count+2)%3 == 0) { ?> <div class="row mt-5 wow"> <?php } ?>

            <div class="col m4 s12 wow fadeIn" data-wow-delay="0.2s">
            
                <div class="card hoverable sticky-action">
                    <div class="card-image">
                        <div class="view overlay hm-white-slight activator" style="height:250px; background-repeat: no-repeat; background-size: cover; background-position: center;background-image:url('<?php echo $thumb ?>');"></div>
                        <!--a href="<?php echo $base_url."/properties/detail/".$listing["StandardFields"]["ListingId"] ?>" class="btn-floating halfway-fab waves-effect waves-light indigo"><i class="material-icons">add</i></a-->
                    </div>
                    <div class="card-content">
                        <!--Title-->
                        <h4 class="card-title activator right-align"><?php echo $price ?><i class="material-icons right">more_vert</i></h4>
                        
                        <!--Text-->
                        <div class="card-text">
                            <p class="truncate"><?php echo $street ?></p>
                            <p><?php echo $listing["StandardFields"]["City"] ?></p>
                            <!--p>MLS Number: <?php echo $listing["StandardFields"]["ListingId"] ?></p-->
                        </div>
                        <!--a href="#" class="btn btn-primary">Button</a-->
                    </div>
                    <div class="card-action">
                        <a href="<?php echo $base_url."/properties/detail/".$listing["StandardFields"]["ListingId"] ?>" class="btn halfway-fab waves-effect waves-light indigo right"><i class="material-icons">visibility</i></a>
                        <p><?php echo $listing["StandardFields"]["ListingId"]?></p>
                    </div>
                    <div class="card-reveal activator">
                        <span class="card-title grey-text text-darken-4"><i class="material-icons right activator">close</i><?php echo $street ?></span>
                        <p><?php echo $listing["StandardFields"]["City"] ?></p>
                        <p><?= $listing["StandardFields"]["PublicRemarks"] ?></p>
                    </div>
                </div>
            </div>
                    
            <?php if (($count)%3 == 0 || $count == sizeof($listings) -1) { ?> </div> <?php } } }?>
            

        <hr>

        <ul class="pagination center-align">
            <?php if ($page > 1) { ?>
                <li class="waves-effect"><a href="<?php echo $base_url."/properties"."/".$city."/".$property_type."/".$list_price."/".($page-1) ?>"><i class="material-icons">chevron_left</i></a></li>
            <?php } ?>
                
            <?php 
                $total_pages = $listings[sizeof($listings)-1]["TotalPages"];
                for($x = $page - 3; $x <= $page + 3; $x++) { 
                    if ($x > 0 && $x <= $total_pages) {?>
                        <li class="waves-effect <?php echo $x == $page ? 'active indigo' : '' ?>"><a href="<?php echo $base_url."/properties"."/".$city."/".$property_type."/".$list_price."/".$x ?>"><?php echo $x ?></a></li>
                <?php } }
            ?>

            <?php if ($page < $total_pages) { ?>
                <li class="waves-effect"><a href="<?php echo $base_url."/properties"."/".$city."/".$property_type."/".$list_price."/".($page+1) ?>"><i class="material-icons">chevron_right</i></a></li>
            <?php } ?>   
        </ul>
        
    </div>
</main>

{layout:set name="scripts"}
    <!--script src="{theme_folder_url}site/default/asset/js/mls.js" ></script>
    <script>
        var portal = <?php echo $portal; ?>;
        var language = '<?php echo $language; ?>';
        var exchange_rate = <?php echo $exchange_rate; ?>;
        var selectedListing = '';
        
        function autoLoad(){
            $('#mls_number').val('<?php echo $mls_number; ?>');
            $('#city').val('<?php echo $city; ?>');
            $('#property_type').val('<?php echo $property_type; ?>');
            $('#list_price').val('<?php echo $list_price; ?>');
            $('#development').val('<?php echo $development; ?>');
            $('#submit').click();
        }
        
        $(function(){
            $('#property_type').change(function(){
                if ($(this).val() != 'E') {
                    $("#list_price option[value='Le 200000.0']").remove();
                } else if ($("#list_price option[value='Le 200000.0']").length == 0) {
                    $('#list_price option:first').after('<option value="Le 200000.0"><?php echo $lang[$language]['under']; ?> 200,000 USD</option>');
                }
            });
        });
    </script-->
    <script>
        //$('select').formSelect();

        $("#searchBtn").click(function(){
            var redirect = "/properties";
            if ($.trim($("#mls_number").val()) != ""){
                redirect += "/detail/" + $("#mls_number").val();
            } else {
                redirect += "/"+$("#city").val();
                redirect += "/"+$("#property_type").val();
                redirect += "/"+$("#list_price").val();
            }
            console.log(redirect);
            $(this).addClass('disabled');
            window.location.href = redirect;
        });

    </script>
{/layout:set}